@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 30px;
}

.App-header {
  background-color: #f4f4f4;
  font-family: 'Lato', sans-serif;
  height: 45px;
  padding: 20px;
  color: #555359;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-header .header-menu, .App-header .header-dropdown{
  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
}

.App-header .header-content{
  width: auto;
  margin: 8px auto;
  display: flex;
}

.header-content img{
  margin: 0 12px;
}

.header-content h3{
  display: inline-block;
  margin: 4px auto;

}

.App-intro {
  font-size: large;
}

.Home .app-content{
  padding: 0 16px;
}

@keyframes App-logo-spin {
  0% { opacity: 0.6; }
  50% {  opacity: 1; }
  100% {  opacity: 0.6; }
}
