@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 30px;
}

.App-intro {
  font-size: large;
}

.app-content{
  padding: 0 16px;
}

@keyframes App-logo-spin {
  0% { opacity: 0.6; }
  50% {  opacity: 1; }
  100% {  opacity: 0.6; }
}
